{% extends 'bootstrap/base.html' %}

{% block head %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block title %}
    {% endblock %}

    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    {% endblock %}

{% endblock %}

{% block body %}

        {% block navbar %}
        {% endblock %}

        {% block header %}
            <a id="header" href="{{ url_for("login") }}">GitHubHealth</a>
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
            <div id="footer">
                <a href="{{ url_for('login', filename='templates/index.html') }}">home</a>
            </div>
        {% endblock %}

        {% block scripts %}
        {% endblock %}

{% endblock %}
