{% extends 'bootstrap/base.html' %}

{% block head %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block title %}
    {% endblock %}

    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% endblock %}

{% endblock %}

{% block body %}

        {% block navbar %}
        {% endblock %}

        {% block content %}
            <a href="{{ url_for('login', filename='templates/index.html') }}">home</a>
        {% endblock %}

        {% block scripts %}
        {% endblock %}

{% endblock %}
