{% extends "base.html" %}

{% block head %}
    <title>GitHubHealth: add user</title>
    <style>
        .error {
            color: red;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.8.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
{% endblock %}

{% block body %}
    <p>test</p>
    <form method="POST">
        <input name="text">
        <input type="submit">
    </form>
{% endblock %}
