{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    {{ super() }}
    {% block title %}
        <title>GitHubHealth: login</title>
    {% endblock %}
{% endblock %}


{% block body %}
<!--<div class="container">-->

    {% block navbar %}
    {% endblock %}

    {% block content %}
        {{ wtf.quick_form(login_form) }}
        {{ super() }}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
<!--</div>-->
    <div name="error">
        {{ error }}
    </div>
{% endblock %}
