{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    {{ super() }}
    {% block title %}
        <title>GitHubHealth: search for user projects</title>
    {% endblock %}
{% endblock %}


{% block body %}

    {% block navbar %}
    {% endblock %}

    {% block header %}
        {{ super() }}
    {% endblock %}

    {% block content %}
        {{ wtf.quick_form(search_form) }}
    {% endblock %}

    {% block footer %}
        {{ super() }}
    {% endblock %}

    {% block scripts %}
    {% endblock %}

    <div name="warning">
        {{ warning }}
    </div>
    <div name="error">
        {{ error }}
    </div>
{% endblock %}
