
body {
  background-color: #112;
  color: #eee;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 20px;
}

table, th, td {
    border: 1px solid #C8C8C8;
    align-content: center;
}

div[id^="vis_user_"] {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 0.9em;
  border-width: 2px;
  width: 80%;
  align-items: center;
  justify-content: center;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

p {
    margin: 20px;
    margin-top: 10px;
    white-space: nowrap;
}


tr {
    margin-left:20px;
    padding: 20px;
}

table.dataframe, .dataframe th, .dataframe td {
    border-collapse: collapse;
    text-align:left;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 0.9em;
    border-width: 2px;
}

#table-metadata {
    width: 500px;
}

.light-mode .form {
  color: black;
  background-color: white;
}

.form {
  background-color: #15172b;
  border-width: 2px;
  border-radius: 20px;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 400px;
}

.form.login {
    height: 250px;
}

.form-group {
  border-radius: 20px;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  margin: 15px;
  justify-content: center;
  height: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 90%;
}

.form-control-label {
  box-sizing: border-box;
  border-width: 5px;
  width: 40%;
  padding-right: 10px;
  display: inline-block;
}

.form.search-request {
    width: 500px;
}

#search-request.form-group {
  width: 400px;
  height: 40px;
  padding: 0px;
  margin-top: 5px;
}

#ignore-repos.form-group {
  width: 400px;
  height: 40px;
  padding: 0px;
}

.form-control-label.ignore-repos {
  width: 100px;
}

.form-group > #search_request {
  border-radius: 10px;
  width: 400px;
  height: 40px;
  color: black;
  font-size: 24px;
}

.form-group > #ignore-repos {
  border-radius: 10px;
  width: 40%;
}

.form-control {
  color: dimgray;
  border-radius: 10px;
  justify-content: right;
  width: 40%;
  display: inline-block;
}

.form-check {
  border-radius: 10px;
  justify-content: right;
  width: 20px;;
  display: inline-block;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.btn-primary {
  font-size: 18px;
  border-radius: 10px;
  background-color: inherit;
  margin: 15px;
  margin-left: 20px;
  width: 200px;
  height: 40px;
}

.btn-copy{
  font-size: 18px;
  border-radius: 10px;
  background-color: white;
  margin: 15px;
  width: 60px;
  height: 40px;
}

ul.plots {
    height: 400px;
}

.btn-direction{
    margin-top: 180px;
    margin-right: 28px;
    width: 80px;
    height: 80px;
}
img.btn-direction{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.invalid-feedback {
  font-size: 8px;
  color: Coral;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
    width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}

input[type="submit" i] {
    border-width: 4px;
    border-color: inherit;
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

.header {
  white-space: nowrap;
  margin-left: 20px;
  font-size: 32px;
  vertical-align: bottom;
  margin-bottom: 10px;
  color: Gainsboro;
}

.quicklink {
    font-size: 16px;
}

ul.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    max-height: 100px;
}

li {
    float: left;
    display: inline-block;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.image-link {
  padding: 4px 6px;
}

.image-link:hover {
  background-color: inherit;
}


li a:hover, .dropdown:hover .dropbtn {
  background-color: #4169e1;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 16px;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color:
  #4169e1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.main-icon, .menu-icon {
    width: 55px;
    height: 55px;
    margin: 5px;
    margin-top: 5px;
    border-radius: 28px;
}

#footer {
    margin-left: 20px;
    font-size: 20px;
    vertical-align: top;
    margin-bottom: 10px;
    color: Gainsboro;
    white-space: nowrap;
}

textarea.content {
    background: inherit;
    color: inherit;
    background-color: inherit;
    width: 80%;
    margin: 20px;
    margin-top: 10px;
}

div.about {
    background: inherit;
    color: inherit;
    background-color: inherit;
    width: 80%;
    margin: 20px;
    margin-top: 10px;
}

div.code-snip {
    display: inline;
    border-width: 3px;
    border-style: dashed;
    padding: 5px;
}

div#loading {
    width: 35px;
    height: 35px;
    display: none;
    background: url(/static/loadingimage.gif) no-repeat;
    cursor: wait;
}

.flashes {
    justify-content: center;
    margin-left: 20px;
}

div.warning, div.error, .flashes {
    font-size: 16px;
    white-space: nowrap;
    margin: 20px;
}

div.error {
    color: red;
}

div.warning {
    color: yellow;
}

.light-mode {
  color: black;
  background-color: white;
  border-color: black;
}

input#timeout {
    width: 40px;
    text-align: right;
}

div.invalid-feedback {
    font-size: 12px;
}
