body {
  background-color: #1818ab;
  color: #eee;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 20px;
}

.light-mode {
  color: black;
  background-color: #808080;
  border-color: black;
}

.dark-mode {
  color: #dcdcdc;
  background-color: #112;
  border-color: #dcdcdc;
}

.form {
  background-color: #3737f0;
  border-width: 2px;
  border-radius: 20px;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 400px;
}

.light-mode .form {
  color: inherit;
  background-color: #dcdcdc;
}

.dark-mode .form {
  color: inherit;
  background-color: #15172b;
}

.dark-mode .dropdown-content {
  color: inherit;
  background-color: #4169e1;
}

button.theme-pick {
  border: none;
  background-color: inherit;
}

img.theme-pick,
img.theme-pick-chosen {
  width: 50px;
  height: 50px;
}

img.theme-pick-chosen {
  width: 50px;
  height: 50px;
  background-color: rgba(18, 237, 51, 0.7);
}

img.theme-pick:hover {
  background-color: rgba(237, 230, 18, 0.7);
}

table,
th,
td {
  border: 1px solid #c8c8c8;
  align-content: center;
}

div[id^="vis_user_"] {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  text-align: left;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 0.9em;
  border-width: 2px;
  width: 80%;
  align-items: center;
  justify-content: center;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

p {
  margin: 20px;
  margin-top: 10px;
  white-space: nowrap;
}

tr {
  margin-left: 20px;
  padding: 20px;
}

table.dataframe,
.dataframe th,
.dataframe td {
  border-collapse: collapse;
  text-align: left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
  border-width: 2px;
}

#T_table-metadata {
  width: 500px;
}

.form.login {
  height: 250px;
}

.form-group {
  border-radius: 20px;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  margin: 15px;
  justify-content: center;
  height: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 90%;
}

.form-control-label {
  box-sizing: border-box;
  border-width: 5px;
  width: 40%;
  padding-right: 10px;
  display: inline-block;
}

.form.search-request {
  width: 500px;
}

#search-request.form-group {
  width: 400px;
  height: 40px;
  padding: 0px;
  margin-top: 5px;
}

#ignore-repos.form-group {
  width: 400px;
  height: 40px;
  padding: 0px;
}

.form-control-label.ignore-repos {
  width: 100px;
}

.form-group > #search_request {
  border-radius: 10px;
  width: 400px;
  height: 40px;
  color: black;
  font-size: 24px;
}

.form-group > #ignore-repos {
  border-radius: 10px;
  width: 40%;
}

.form-control {
  color: dimgray;
  border-radius: 10px;
  justify-content: right;
  width: 40%;
  display: inline-block;
}

.form-check {
  border-radius: 10px;
  justify-content: right;
  width: 20px;
  display: inline-block;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.btn-primary {
  font-size: 18px;
  border-radius: 10px;
  background-color: inherit;
  margin: 15px;
  margin-left: 20px;
  width: 200px;
  height: 40px;
}

.btn-copy {
  font-size: 18px;
  border-radius: 10px;
  background-color: white;
  margin: 15px;
  width: 60px;
  height: 40px;
}

ul.plots {
  height: 400px;
  margin-left: 60px;
}

div.plot {
  width: 400px;
}

.btn-direction {
  margin-top: 160px;
  margin-right: 38px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

img.btn-direction {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.invalid-feedback {
  font-size: 8px;
  color: coral;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

input[type="submit" i] {
  border-width: 4px;
  border-color: inherit;
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

.header {
  white-space: nowrap;
  margin-left: 20px;
  font-size: 32px;
  vertical-align: bottom;
  margin-bottom: 10px;
  color: #dcdcdc;
}

.quicklink {
  font-size: 16px;
}

ul.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  max-height: 100px;
}

li {
  float: left;
  display: inline-block;
}

li a,
 {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.image-link {
  padding: 4px 6px;
}

.image-link:hover {
  background-color: inherit;
}

/* dropdown hover but not title or menu-icon*/
li a:hover,
.dropdown:hover {
  background-color: #4169e1;
}

.menu-icon:hover {
  background-color: inherit;
}

li a:hover,
.dropdown:hover {
  background-color: #4169e1;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: inherit;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 16px;
}

.dropdown-content a {
  color: inherit;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #4169e1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main-icon,
.menu-icon {
  width: 55px;
  height: 55px;
  margin: 5px;
  margin-top: 5px;
  border-radius: 28px;
}

#footer {
  margin-left: 20px;
  font-size: 20px;
  vertical-align: top;
  margin-bottom: 10px;
  color: inherit;
  white-space: nowrap;
}

li.footer-space {
  margin-left: 4px;
  margin-right: 4px;
}

textarea.content {
  background: inherit;
  color: inherit;
  background-color: inherit;
  width: 80%;
  margin: 20px;
  margin-top: 10px;
}

div.about {
  background: inherit;
  color: inherit;
  background-color: inherit;
  width: 80%;
  margin: 20px;
  margin-top: 10px;
}

div#loading {
  width: 35px;
  height: 35px;
  display: none;
  background: url(/static/loadingimage.gif) no-repeat;
  cursor: wait;
}

.flashes {
  justify-content: center;
  margin-left: 20px;
}

div.warning,
div.error,
.flashes {
  font-size: 16px;
  white-space: nowrap;
  margin: 20px;
  width: 500px;
}

div.error {
  color: red;
}

div.warning {
  color: yellow;
  background-color: inherit;
}

input#timeout {
  width: 40px;
  text-align: right;
}

div.invalid-feedback {
  font-size: 12px;
}

div.snippet {
  display: inline;
  border-width: 3px;
  border-style: dashed;
  padding: 5px;
  margin-left: 20px;
}

/* https://clipboardjs.com/assets/styles/main.css */
.clippy {
  margin-top: -3px;
  position: relative;
  top: 3px;
}

.btn[disabled]
.clippy {
  opacity: .3;
}

.example + .snippet {
  background: #f8f8f8;
  border-radius: 4px;
  border: 1px solid #ddd;
  clear: both;
  top: -20px;
  padding: 20px 0 0;
}

.snippet {
  position: relative;
  overflow: visible;
}

.snippet code {
  font-size: 14px;
  line-height: 20px;
}

.snippet .btn {
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  opacity: 0;
  padding: 2px 6px;
  position: absolute;
  right: -34px;
  top: -2px;
}
.snippet:hover .btn,
.snippet .btn:focus {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .snippet .btn {
    opacity: 1;
  }
}


.example + .snippet .btn {
  top: 22px;
  right: 2px;
}
/*
body {
  font-family: lato,sans-serif;
}

.gradient {
  background: #4cd964;
  background: -moz-linear-gradient(45deg, #4cd964 0%, #5ac8fa 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #4cd964), color-stop(100%, #5ac8fa));
  background: -webkit-linear-gradient(45deg, #4cd964 0%, #5ac8fa 100%);
  background: -o-linear-gradient(45deg, #4cd964 0%, #5ac8fa 100%);
  background: -ms-linear-gradient(45deg, #4cd964 0%, #5ac8fa 100%);
  background: linear-gradient(45deg, #4cd964 0%, #5ac8fa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cd964', endColorstr='#5ac8fa', GradientType=1);
  margin: 0 auto;
}

.header {
  padding-top: 92px;
}
*/
/*
.title {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: -1px;
  margin: 0 20px 20px;
}

.subtitle {
  color: #16a085;
  font-size: 27px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 20px 20px;
}

.subtitle + .subtitle {
  color: #fff;
}
*/
/*
.gh-btns {
  margin: 92px 0 0;
  background: rgba(0, 0, 0, .1);
  padding: 20px 0 10px;
}

.wrap {
  margin: 0 auto 90px;
  max-width: 540px;
  padding: 0 15px;
}

p {
  color: #333;
  font-size: 18px;
  line-height: 1.7;
}

a {
  color: #1bc1a1;
  border-bottom: 1px dotted #1bc1a1;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
*/
/*
a:hover,
a:focus {
  text-decoration: none;
  opacity: .7;
}

h1 {
  margin-top: 80px;
  color: #1bc1a1;
}

h3 {
  color: #333;
  margin: 40px 0;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
*/
/*
.example {
  position: relative;
  margin: 15px 0 0;
  padding: 39px 19px 14px;
  background-color: #fff;
  border-radius: 4px 4px 0 0;
  border: 1px solid #ddd;
  z-index: 2;
}
*/
/*
.example p {
  color: #666;
}

.example:after {
  content: "Example";
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: 700;
  background-color: #f5f5f5;
  color: #9da0a4;
  border-radius: 4px 0 4px 0;
}
*/

/*
.form-actions {
  margin-top: 15px;
}

.form-actions .btn {
  float: left;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
*/
/*
code {
  background-color: #e8f5f2;
  border-radius: 3px;
  color: #1bc1a1;
  font-size: 85%;
  margin: 0;
  padding: .2em;
}

.hljs-keyword {
  color: teal;
  font-weight: 400;
}

.support {
  list-style: none;
  text-align: center;
}

.support li {
  display: inline-block;
  text-align: center;
  margin: 15px 0;
  width: 30%;
}
*/
/*
@media screen and (max-width: 410px) {
  .support li {
    width: 45%;
  }
}

@media screen and (max-width: 290px) {
  .support li {
    width: 100%;
  }
}

.support p {
  margin: 0;
}

.credits,
.maintainer {
  font-weight: 400;
  font-family: lato,sans-serif;
  font-size: 20px;
  color: #16a085;
  padding: 30px 0;
  margin: 0;
}

.footer-link {
  color: #fff;
  border-color: #fff;
}
*/
/*
.footer-link:hover,
.footer-link:focus {
  text-decoration: none;
  border-color: #fff;
}

.love {
  display: inline-block;
  position: relative;
  top: .2em;
  font-size: 1.4em;
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  transform: scale(.9);
  -webkit-animation: love .5s infinite linear alternate-reverse;
  -moz-animation: love .5s infinite linear alternate-reverse;
  animation: love .5s infinite linear alternate-reverse;
}

@-webkit-keyframes love {
  to {
    -webkit-transform: scale(1.2);
  }
}
*/
/*
@-moz-keyframes love {
  to {
    -moz-transform: scale(1.2);
  }
}

@keyframes love {
  to {
    transform: scale(1.2);
  }
}

.maintainer {
  background: rgba(0, 0, 0, .05);
}

@media screen and (max-width: 540px) {
  .title {
    font-size: 48px;
  }

  .subtitle {
    font-size: 22px;
  }

  .credits {
    font-size: 22px;
  }
}
*/
