{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    {% block title %}
        <title>GitHubHealth: about</title>
    {% endblock %}
{% endblock %}


{% block body %}

    {% block navbar %}
    {% endblock %}

    {% block header %}
        {{ super() }}
    {% endblock %}

    {% block content %}
<textarea readonly class="content" rows="40">
about
</textarea>
        {{ super() }}
    {% endblock %}

    {% block footer %}
        {{ super() }}
    {% endblock %}

    {% block scripts %}
        {{ super() }}
    {% endblock %}

    <div name="warning">
        {{ warning }}
    </div>
    <div name="error">
        {{ error }}
    </div>
{% endblock %}
