{% extends 'bootstrap/base.html' %}

{% block head %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% block title %}
    {% endblock %}
    {% block styles %}
        <link rel="stylesheet" href="https://clipboardjs.com/bower_components/primer-css/css/primer.css">
        <link rel="stylesheet" href="https://clipboardjs.com/bower_components/highlightjs/styles/github.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% endblock %}

    {% block onload %}
        <script>
            document.ready= function() {
                if (localStorage.getItem("lightMode")) {
                    document.getElementById("lightMode").checked = true;
                    document.getElementById("darkMode").checked = false;
                }
                else if (localStorage.getItem("darkMode")) {
                    document.getElementById("darkMode").checked = true;
                    document.getElementById("lightMode").checked = false;
                }
            }
        </script>
    {% endblock %}

{% endblock %}

{% block body %}

    {% block navbar %}
    {% endblock %}

    {% block header %}
        <span class="header">
            <ul class="header">
                <li id="header"><a class="image-link" href="{{ url_for("home") }}"><img class="main-icon" src="{{ url_for('static', filename='assets/apple-touch-icon.png') }}"></a></li>
                <li><a href="{{ url_for("home") }}">GitHubHealth</a></li>
                <li>
                    <div class="dropdown">
                        {% if ghh is defined %}
                            <img class="menu-icon" src="{{ ghh.user.avatar_url }}">
                        {% else %}
                            <img class="menu-icon" src="{{ url_for('static', filename='assets/nouser.png') }}">
                        {% endif %}
                        <div id="settingsDropdown" class="dropdown-content">
                            <a class="quicklink" href="{{ url_for("login") }}">login</a>
                            <a class="quicklink" href="{{ url_for("logout") }}">logout</a>
                            <button class="theme-pick" onclick="activateLightMode()">
                                <img class="theme-pick" id="lightMode" src="{{ url_for('static', filename='assets/sun.svg') }}">
                            </button>
                            <button class="theme-pick" onclick="activateDarkMode()">
                                <img class="theme-pick" id="darkMode" src="{{ url_for('static', filename='assets/moon.svg') }}">
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </span>

    {% endblock %}

    <div id="loading">
        {% block content %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        {% endblock %}
    </div>

    {% block error_warning %}
        {% if warning %}
            <div class="warning">
                {{ warning }}
            </div>
        {% endif %}
        {% if error %}
            <div class="error">
                {{ error }}
            </div>
        {% endif %}
    {% endblock %}

    {% block footer %}
        <div id="footer">
            <ul>
                <li><a target="_blank" href="{{ url_for('about', filename='templates/about.html') }}" class="quicklink">about</a></li>
                <li> | </li>
                <li><a href="mailto:support@githubhealth.com" class="quicklink">support</a></li>
                <li> | </li>
                <li><a target="_blank" class="quicklink" href="https://pypi.org/project/GitHubHealth/">pypi</a></li>
                <li> | </li>
                <li><a target="_blank" href="https://www.github.com/ckear1989/github/#contributing" class="quicklink">contribute</a></li>
            </ul>
        </div>
    {% endblock %}

    {% block scripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/base.js') }}"></script>
    {% endblock %}

{% endblock %}
