{% extends 'bootstrap/base.html' %}

{% block head %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block title %}
    {% endblock %}

    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    {% endblock %}

{% endblock %}

{% block body %}

        {% block navbar %}
        {% endblock %}

        {% block header %}
            <span class="header">
                <ul>
                    <li>  <a href="{{ url_for("home") }}">GitHubHealth</a></li>
                    <li>  <a class="quicklink" href="{{ url_for("under_construction") }}">search</a></li>
                    <li> <a class="quicklink" href="{{ url_for("login") }}">login</a></li>
                    <li> <a class="quicklink" href="{{ url_for("logout") }}">logout</a></li>
                    <li >
                        {% if user %}
                            <img class="settings"  src="{{ user.avatar_url }}">
                        {% else %}
                            <img class="settings"  src="{{ url_for('static', filename='nouser.png') }}"></li>
                        {% endif %}
                    <li >
                        <div class="dropdown">
                            <img class="settings"  onclick="settings()" src="{{ url_for('static', filename='wheel.png') }}">
                            <div id="settingsDropdown" class="dropdown-content">
                                <a href="#" onclick="toggleMode()">Toggle dark mode </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </span>

            <script >
                function settings() {
                    document.getElementById("settingsDropdown").classList.toggle("show");
                }
            </script>
            <script >
                function toggleMode() {
                    var element = document.body;
                    element.classList.toggle("light-mode");
                    document.getElementById("settingsDropdown").classList.toggle("hide");
                }
            </script>
        {% endblock %}

        {% block content %}
            <div id="loading"></div>
        {% endblock %}

        {% block footer %}
            <div id="footer">
                <a href="{{ url_for('about', filename='templates/about.html') }}" class="quicklink">about</a>
                <a href=mailto:support@githubhealth.com" class="quicklink">support</a>
            </div>
        {% endblock %}

        {% block scripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{{
              url_for('static', filename='jquery.js') }}">\x3C/script>')
            </script>

            <script type="text/javascript">// <![CDATA[
                function loading(){
                    $("#loading").show();
                    $("#content").hide();
                }
            // ]]></script>
        {% endblock %}

{% endblock %}
