{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    {{ super() }}
    {% block title %}
        <title>GitHubHealth: {{ ghh.user.name }}</title>
    {% endblock %}
{% endblock %}


{% block body %}

    {% block navbar %}
    {% endblock %}

    {% block header %}
        {{ super() }}
    {% endblock %}


    {% block loading %}
        {{ super() }}
    {% endblock %}

    {% block content %}
        <div class="user_content">
            <p>
                Logged in as <a href="{{ ghh.user.url }}">{{ ghh.user.name }}</a>.
                Start browsing or searching.
            </p>
            <div id="user-table">
                {{ ghh.user.metadata_html|safe }}
            </div>
            {% if ghh.user.metadata_limit_reached %}
                <form action="" method="post" class="limit" id="limit_form" role="form">
                    {{ more_form.csrf_token() }}
                    <label>results 1 to {{ ghh.user.metadata_limit }}</label>
                    <input class="nbr-input" name="increment" required type="number" value="2" data-toggle="tooltip" title="number of additional results.">
                    <input class="btn btn-more" id="metadata-more" name="more" type="submit" value="more...">
                </form>
            {% endif %}
            <form action="" method="post" class="form search-request" id="search_form" role="form">
                {{ search_form.csrf_token() }}
                <div class="form-group" id="search-request">
                    <input id="search_request" name="search_request" type="text" value data-toggle="tooltip" title="Enter a search term.">
                    <button class="btn-search" id="search" name="search" onclick="loading_search()" type="submit" value="Search" data-toggle="tooltip" title="search!">
                        <img class="search" src="{{ url_for('static', filename='assets/search.svg') }}">
                    </button>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" id="search_users" name="search_users" type="checkbox" value="y" data-toggle="tooltop" title="include users in search?"> users
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" id="search_orgs" name="search_orgs" type="checkbox" value="y" data-toggle="tooltip" title="include orgs in search?"> orgs
                    </label>
                </div>
                <div class="form-group" id="ignore-repos">
                    <label class="form-control-label ignore-repos" for="ignore-repos">ignore repos</label>
                    <input id="ignore-repos" name="search_ignore_repos" type="text" value data-toggle="tooltip" title="ignore any repos from search results. Separate with comma (,).">
                </div>
                <input class="btn btn-primary" id="search" name="search" onclick="loading_search()" type="submit" value="Search">
            </form>
        </div>
        {{ super() }}
    {% endblock %}

    {% block error_warning %}
        {{ super() }}
    {% endblock %}

    {% block footer %}
        {{ super() }}
    {% endblock %}


    {% block scripts %}
        {{ super() }}
        <script>
            // update all table "health" elements to a link for that repo status
            $("#user-table").children("table").children("tbody").children("tr").children("td").each(function () {
                if (this.cellIndex == 2) {
                    if (this.innerText == "health") {
                        let this_repo_name = this.previousElementSibling.innerText;
                        let this_repo_status_url="/repo_status/".concat(this_repo_name);
                        console.log(this_repo_status_url);
                        this.innerHTML = '<a href="'.concat(this_repo_status_url,  '" class="quicklink" target="_blank"><img class="health-icon" src="/static/favicon.ico"></a>');
                    };
                };
            });
        </script>
    {% endblock %}

{% endblock %}
